.row {
  width: 100%;
}

.cell {
  height: 50;
}

.head {
  position: sticky;
  top: 0;
  background-color: #e0e0e0;
  font-weight: 800;
  z-index: 99;
}

.head span {
  font-weight: 300;
}

.body {
  height: 27vh;
}

.headerRow {
    border-bottom: 1px solid black;
}
